{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}" type="text/css"/>

    <div class="blocTitre">
        <div class="titrepage">Les Utilisateurs</div>
        <div class="sous-titrepage"><a href="{{ path('admin_index') }}">Retour à l'espace admin</a></div>
    </div>
    <br>
    <a href="{{ path('user_new') }}">Ajouter un utilisateur</a>
    <table class="table">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Nom d'utilisateur</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}">Voir</a> |
                    <a href="{{ path('user_edit', {'id': user.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
