{% extends "base.html.twig" %}    
{% block title %}Le quartier{% endblock %}
{% block body %}
    <div class="blocTitre">
        <div class="titrepage">Contact</div>
        <div class="sous-titrepage"></div>
    </div>
    <div class="grandMainScroll">
        <div class="bloc-gaucheScroll">
            <div class="titre">Où nous contacter</div>
            <div class="lot-texte">
                <p>Post statum diem si id elegerit discessura, et incredibile est quo ardore apud eos in venerem uterque solvitur sexus.</p>
                                    <img src="{{asset("/images/numero.jpg")}}">
                                    <img src="{{asset("/images/numerotel.jpg")}}">

            </div>
                    </div>

            </div>
            {% endblock %}