{% extends "base.html.twig" %}    
{% block title %}Accueil{% endblock %}
{% block body %}
    <div  id="parentSuper">
        <img id="img1 super" class="super img1" src="{{asset("/images/carrousel8.JPG")}}" alt>
      <!--   <img id="img2 super" class="super img2" src="{{asset("/images/carrousel6.jpg")}}" alt>
        <img id="img3 super" class="super img3" src="{{asset("/images/carrousel7.jpg")}}" alt> -->

        <div class="nomProjet">
            <h1>BAGNEUX/92</h1>
            <h2>Les PASSERELLES</h2>
        </div>
    </div>
    <div class="Home">
        <div class="planchePhoto">
            <div class="parentHoverQuartier parentHover">
                <div class="hoverQuartier classhover">
                    <a href="{{path('quartier')}}">
                        <p>Decouvrez le quartier</p>
                    </a>
                </div>
            </div>
            <div class="parentHoverProjet parentHover">
                <div class="hoverProjet classhover">
                    <a href="{{path('projet')}}">
                        <p>Le projet</p>
                    </a>
                </div>
            </div>
            <div class="parentHoverArticle parentHover">
                <div class="hoverArticle classhover">
                    <a href="{{path('article_index')}}">
                        <p>Les dernières actualités</p>
                    </a>
                </div>
            </div>
            <div class="hoverLogo"></div>
            <div class="parentHoverImages parentHover">
                <div class="hoverImages classhover">
                    <a href="{{path('image')}}">
                        <p>En images</p>
                    </a>
                </div>
            </div>
            <div class="parentHoverArchi parentHover">
                <div class="hoverArchi classhover">
                    <a href="">
                        <p style="text-align: center;"><b>«</b><i> Nous avons imaginé un immeuble qui s’articule autour d’une faille végétale, traversée de passerelles. Ses façades jouent avec la lumière au rythme des volumes de balcons. Travaillées en contrepoint, elles s’habillent d’enduit blanc finement dressé et de briques aux nuances de terre grisée. </i><b>»</b> <br>- <b>Olivier Ferrière</b> - Daquin et Ferrière Architecture</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}