{% extends "base.html.twig" %}    
{% block title %}Le projet{% endblock %}
{% block body %}
    <div class="blocTitre">
        <div class="titrepage">Le Projet</div>
<!--         <div class="sous-titrepage">Firmarat ictibus cum hortaretur in.</div>
 -->    </div>
    <div class="grandMain">
        <div class="bloc-gauche">
            <div class="lot-texte">
                  <p style="text-align: center;"><b>«</b><i> Nous avons imaginé un immeuble qui s’articule autour d’une faille végétale, traversée de passerelles. Ses façades jouent avec la lumière au rythme des volumes de balcons. Travaillées en contrepoint, elles s’habillent d’enduit blanc finement dressé et de briques aux nuances de terre grisée </i><b>»</b></p>
                  <p style="text-align: center;"> <b>- Olivier Ferrière</b> - Daquin et Ferrière Architecture</p>
            </div>
            <div class="titre"> QUAND NATURE RIME AVEC ARCHITECTURE</div>
            <div class="lot-texte">
                <p>Au cœur des « Passerelles », nature et architecture sont indissociables. Les espaces paysagers de la résidence font écho à une architecture affirmée aux matériaux nobles.</p>
                <p>La « faille végétale » est conçue comme un chemin luxuriant qui mène au calme des jardins intérieurs. </p>
                <p>Plantes grimpantes ou tapissantes, arbres et arbustes… Chaque saison aura son lot de floraisons. </p>

            <div>
                <a data-fancybox="images" href="{{asset("illustrations/illu_3.JPG")}}"><img style="margin-left: 24%;width: 52%!important;margin-top: 2%;" src="{{asset("illustrations/illu_3.JPG")}}" alt="batiment_bagneux"></a>
            </div>
            </div>
            <div class="titre">DES PRESTATIONS SOIGNÉES</div>
            <div class="lot-texte">
                <p><b>CONFORTABLES</b></p>
                <ul>
                    <li>Menuiseries extérieures avec double vitrage pour  une bonne isolation thermique et phonique.</li>
                    <li>Volets roulants dans les séjours, chambres et cuisines. </li>
                    <li>Revêtement stratifié aspect bois dans toutes les pièces sèches. </li>
                    <li>Peinture blanche à taux limité de COV (composés  organiques volatils).</li>
                    <li>Salles de bains et salles d’eau raffinées équipées d’un meuble vasque au design contemporain, miroir, applique et sèche-serviettes.</li>
                    <li> Chauffage et production d’eau chaude collectifs assurés  par le réseau de chauffage urbain.</li>
                </ul>
                <p><b>SEREINES</b></p>
                <ul>
                    <li>Vitrage retardateur d’effraction pour l’ensemble des baies situées au rez-de-chaussée. </li>
                    <li>Halls d’entrée avec contrôles d’accès, digicode et vidéophone avec lecteur de badge type Vigik©.</li>
                    <li>Appel par lecteur de badge type Vigik© des ascenseurs  en sous-sol.</li>
                    <li>Portes palières à âme pleine anti-effraction A2P*, équipées d’une serrure 3 points et d’un seuil à la suisse.</li>
                </ul>
                <p><b>INTELLIGENTES</b></p>
                <ul>
                    <li>L’immeuble est équipé d’un système de domotique, relié à une application qui facilitera votre vie dans le logement et dans son environnement. Il favorisera le mieux vivre ensemble.</li>
                    <li>Dans votre appartement, la domotique permettra la gestion des occultations, de la lumière, la programmation du chauffage et la visualisation des consommations.</li>
                </ul>

                            <div>
                <a data-fancybox="images" href="{{asset("illustrations/illu_1.JPG")}}"><img style="width: 44%!important;" src="{{asset("illustrations/illu_1.JPG")}}" alt="Plan batiment recherche"></a>
            
                <a data-fancybox="images" href="{{asset("illustrations/illu_2.JPG")}}"><img style="margin-left: 4%;width: 41.2%!important;margin-bottom: 0;" src="{{asset("illustrations/illu_2.JPG")}}" alt="batiment recherche"></a>
            </div>
            </div>
            <div class="titre">DES INTÉRIEURS BIEN PENSÉS</div>
            <div class="lot-texte">
                <p>Du studio au 5 pièces, les appartements ont été soigneusement agencés pour vous garantir espace et confort. Appartements traversants,  cuisines ouvertes ou fermées, vastes séjours prolongés de balcons, terrasses, loggias ou jardins privatifs ( Disponibles selon les appartements), tout à été pensé pour votre bien-être.</p>
            </div>
        </div>

        <div class="bloc-droit">
            <div class="lotBouton">
             <!--    <a href="https://www.nexity.fr/annonces-immobilieres/achat-vente/immobilier/neuf/bagneux+92" target="_blank"><div class="lien">STOCK DISPONIBLE <i class="right arrow"></i></div></a> -->
                </br>
                <a href="{{asset('uploads/documents/Plaquette.pdf')}}" target="_blank"><div class="lien">VOIR LA PLAQUETTE <i class="right arrow"></i></div></a>
            </div>
        </div>
    </div>
{% endblock %}