{% extends "base.html.twig" %}    
{% block title %}Le quartier{% endblock %}
{% block body %}
    <div class="blocTitre">
        <div class="titrepage">Le quartier</div>
        <!-- <div class="sous-titrepage"></div> -->
    </div>
    <div class="grandMainScroll">
        <div class="bloc-gaucheScroll">
            <div class="titre">BAGNEUX - UNE SITUATION STRATÉGIQUE AUX PORTES DE PARIS</div>
            <div class="lot-texte">
                <p>Commune des Hauts de Seine située à proximité de Paris, Bagneux cultive ses atouts pour offrir une qualité de vie préservée à ses habitants.  </p>
                <p>Fière de son histoire et de son patrimoine, forte d’équipements scolaires et culturels de premier ordre, Bagneux prépare l’avenir sereinement.</p>
                <p>Dans la dynamique du Grand Paris, elle continue à façonner son territoire pour faire entrer encore plus de nature, encore plus d’accessibilité… En bref, de l’Art de vivre.</p>
            </div>
            <div class="titre">UNE ADRESSE CONNECTÉE DANS UN QUARTIER EN PLEIN RENOUVEAU </div>
            <div class="lot-texte">
                <p>La résidence « Les Passerelles » a trouvé une place de choix dans un quartier en plein essor, entièrement réorganisé autour de la future station de métro et gare du Grand Paris Express. </p>
                <p>Labellisé éco-quartier, il multiplie les liaisons douces et les espaces verts. Coté équipements futurs et existants : crèche, école, gymnase, théâtre et jardin public font le bonheur des familles. Enfin, les nombreux commerces de proximité et ceux à venir au pied de la future gare facilitent la vie des habitants du quartier.</p>
                <p>Bien sûr, l’arrivée des deux lignes de métro et leurs connexions avec le RER en font un lieu de choix pour développer l’activité économique. Ainsi, de nombreuses startup et entreprises innovantes sont attendues, séduites par l’accessibilité et la qualité de vie du quartier.</p>
            </div>
            <div class="titre">UNE OFFRE DE TRANSPORTS TOUJOURS PLUS RICHE</div>
            <div class="lot-texte">
                <p><b>Bagneux disposera bientôt d’une offre de transports complète, dont la résidence, à seulement 300 m, sera l’une des premières bénéficiaires.</b></p>
                <p>La ligne 4 du métro, dont le terminus est actuellement Montrouge, sera prolongée jusqu’à Bagneux d’ici 2020 créant ainsi des correspondances avec toutes les lignes RER de Paris et la quasi totalité des lignes de métro.</p>
                <p>Enfin, la ligne 15 Sud du Grand Paris entrera en service dès 2022 et reliera 16 gares, de Pont de Sèvres à Noisy-Champs, dont Bagneux.</p>
            </div>
        </div>

        <div class="bloc-droitScroll">
            <div>
        <a data-fancybox="images" href="{{asset("images/cartebagneux.JPG")}}" data-caption="carte bagneux">
<img style="width:100%" src="{{asset("images/cartebagneux.JPG")}}" alt="Carte Bagneux"/></a>
            </div>
            <div>
                <a data-fancybox="images" href="{{asset("images/metrobagneux.JPG")}}" data-caption="transport bagneux">
                <img style="width:100%" src="{{asset("images/metrobagneux.JPG")}}" alt="Carte Bagneux"/></a>
            </div>
            <div>

            <a data-fancybox="images" href="{{asset("images/busbagneux.JPG")}}" data-caption="transport bagneux">
                <img style="width:100%" src="{{asset("images/busbagneux.JPG")}}" alt="Carte Bagneux"/></a>
            </div>
        </div>
    </div>
{% endblock %}