/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 oct. 2016, 15:52:09
    Author     : ikdev
*/
/*
URL Images
*/
/*$callmeUrl: "../img/call-me.png";*/
/*
Color used
*/
/* line 23, assetic_compassRt42J5.scss */
body {
  font-family: "AvantGardeLT-Book", Helvetica, Arial;
  color: #191919;
  font-size: 12px;
}

/***********************************************/
/********************HEADER*********************/
/***********************************************/
/* line 32, assetic_compassRt42J5.scss */
header .navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

/* line 38, assetic_compassRt42J5.scss */
header .navbar .navbar-collapse {
  position: relative;
}

@media only screen and (max-width: 768px) {
  /* line 43, assetic_compassRt42J5.scss */
  header .navbar .navbar-header button {
    margin-top: 18px;
    margin-bottom: 18px;
  }
}
/* line 49, assetic_compassRt42J5.scss */
header .navbar .navbar-brand {
  padding: 0;
  height: auto;
  margin-left: 0 !important;
  position: absolute;
  z-index: 1;
}

@media only screen and (max-width: 992px) {
  /* line 58, assetic_compassRt42J5.scss */
  header .navbar .navbar-brand img {
    width: 70px;
    height: 70px;
  }
}
/* line 64, assetic_compassRt42J5.scss */
header .navbar .navbar-left {
  margin-left: 100px;
}

@media only screen and (max-width: 992px) {
  /* line 69, assetic_compassRt42J5.scss */
  header .navbar .navbar-left {
    margin-left: 65px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 75, assetic_compassRt42J5.scss */
  header .navbar .navbar-left {
    margin: 1px -15px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 81, assetic_compassRt42J5.scss */
  header .navbar .navbar-left > li {
    border-bottom: 1px solid #303030;
  }
}
/* line 86, assetic_compassRt42J5.scss */
header .navbar .navbar-left > li:hover > a {
  background-color: #000;
}

/* line 90, assetic_compassRt42J5.scss */
header .navbar .navbar-left > li.active > a {
  background-color: #000;
}

@media only screen and (max-width: 768px) {
  /* line 95, assetic_compassRt42J5.scss */
  header .navbar .navbar-left > li.active > a {
    padding-left: 35px;
  }
}
@media only screen and (max-width: 992px) {
  /* line 101, assetic_compassRt42J5.scss */
  header .navbar .navbar-left > li.active > a:after {
    background-position: -55px -5px;
    width: 10px;
    height: 9px;
    left: 50%;
    bottom: 0;
    margin-left: -7.5px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 112, assetic_compassRt42J5.scss */
  header .navbar .navbar-left > li.active > a:after {
    width: 10px;
    height: 9px;
    background-position: -55px -5px;
    left: 0;
    margin-left: 15px;
    top: 50%;
    margin-top: -5.5px;
    width: 10px;
    height: 9px;
    background-position: -55px -5px;
  }
}
/* line 126, assetic_compassRt42J5.scss */
header .navbar .navbar-left > li > a {
  color: #fff;
  font-size: 14px;
  font-family: "AvantGarde-Bold", Helvetica, Arial;
  text-transform: uppercase;
  padding: 40px 25px;
}

@media only screen and (max-width: 1200px) {
  /* line 135, assetic_compassRt42J5.scss */
  header .navbar .navbar-left > li > a {
    padding: 40px 15px;
  }
}
@media only screen and (max-width: 992px) {
  /* line 141, assetic_compassRt42J5.scss */
  header .navbar .navbar-left > li > a {
    padding: 25px 7px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 148, assetic_compassRt42J5.scss */
  header .navbar .navbar-left > li > a {
    padding: 15px;
  }
}
@media only screen and (max-width: 769px) {
  /* line 154, assetic_compassRt42J5.scss */
  header .navbar .navbar-right {
    margin: 7.5px 0;
  }
}
@media only screen and (max-width: 769px) {
  /* line 160, assetic_compassRt42J5.scss */
  header .navbar .navbar-right > li {
    width: 47.5%;
    float: left;
    margin: 0 0 0 2.5%;
  }
}
/* line 167, assetic_compassRt42J5.scss */
header .navbar .navbar-right > li:first-child {
  margin-right: 15px;
}

/* line 171, assetic_compassRt42J5.scss */
header .navbar .navbar-left > li.active > a:after {
  content: "";
  position: absolute;
  bottom: 30px;
  margin-left: -15px;
  right: 17px;
  width: 30px;
  height: 3px;
  background-position: -160px -5px;
  left: 50%;
}

@media only screen and (max-width: 992px) {
  /* line 183, assetic_compassRt42J5.scss */
  header .navbar .navbar-right > li:first-child {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 769px) {
  /* line 189, assetic_compassRt42J5.scss */
  header .navbar .navbar-right > li:first-child {
    margin: 0 2.5% 0 0;
  }
}
/* line 194, assetic_compassRt42J5.scss */
header .navbar .navbar-right > li button {
  font-size: 12px;
  height: 80px;
  margin: 10px 0;
  width: 105px;
  text-align: center;
  padding: 10px 16px;
  line-height: 12px;
  white-space: inherit;
  position: relative;
}

@media only screen and (max-width: 769px) {
  /* line 207, assetic_compassRt42J5.scss */
  header .navbar .navbar-right > li button {
    width: 100% !important;
  }
}
@media only screen and (max-width: 992px) {
  /* line 214, assetic_compassRt42J5.scss */
  header .navbar .navbar-right > li button:after {
    top: 50%;
    margin-top: -15px;
  }
}
/* line 220, assetic_compassRt42J5.scss */
header .navbar .navbar-right > li button.meet-me:after {
  width: 32px;
  height: 30px;
  background-position: -243px -5px;
  left: 50%;
  margin-left: -16px;
}

/* line 228, assetic_compassRt42J5.scss */
header .navbar .navbar-right > li button.call-me:after {
  width: 26px;
  height: 30px;
  background-position: -104px -5px;
  left: 50%;
  margin-left: -13px;
}

@media only screen and (max-width: 992px) {
  /* line 237, assetic_compassRt42J5.scss */
  header .navbar .navbar-right > li button {
    height: 50px;
    margin: 10px 0;
    width: 65px;
  }
}
/* line 244, assetic_compassRt42J5.scss */
header .navbar .navbar-right > li button > span {
  margin-top: 35px;
  display: block;
}

/* line 249, assetic_compassRt42J5.scss */
.btn {
  border-radius: 0;
  background-repeat: no-repeat;
}

/* line 255, assetic_compassRt42J5.scss */
.btn.btn-primary:focus {
  outline: none;
}

/* line 260, assetic_compassRt42J5.scss */
.btn.btn-default {
  background: transparent;
  border-color: #191919;
  color: #191919;
  border-radius: 2px;
}

/* line 267, assetic_compassRt42J5.scss */
.btn.btn-default:focus {
  outline: none;
}

/***********************************************/
/********************Footer*********************/
/***********************************************/
@media only screen and (max-width: 1200px) {
  /* line 280, assetic_compassRt42J5.scss */
  footer #footer-1 {
    padding: 20px 0;
  }
}
/* line 285, assetic_compassRt42J5.scss */
footer #footer-1 .logo {
  display: inline-block;
  margin-bottom: 20px;
}

@media only screen and (max-width: 992px) {
  /* line 291, assetic_compassRt42J5.scss */
  footer #footer-1 .logo img {
    width: 90px;
    height: 90px;
  }
}
/* line 297, assetic_compassRt42J5.scss */
footer #footer-1 .infos {
  color: #777777;
}

/* line 301, assetic_compassRt42J5.scss */
footer #footer-1 .infos h4 {
  font-weight: bold;
  color: #cdcdcd;
}

/* line 305, assetic_compassRt42J5.scss */
footer #footer-1 .infos p {
  margin-bottom: 0;
}

/* line 309, assetic_compassRt42J5.scss */
footer #footer-1 .infos a {
  color: #777777;
}

/* line 313, assetic_compassRt42J5.scss */
footer #footer-1 .bullets a {
  color: #fff;
}

/* line 317, assetic_compassRt42J5.scss */
footer #footer-1 .bullets li:before {
  top: 4.5px;
}

/* line 321, assetic_compassRt42J5.scss */
footer #footer-1 .phone {
  text-align: left;
  color: #fff;
  font-size: 28px;
  font-family: "AvantGarde-Bold", Helvetica, Arial;
  line-height: 26px;
  height: 45px;
  padding-left: 40px;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  /* line 335, assetic_compassRt42J5.scss */
  footer #footer-1 .phone {
    font-size: 24px;
  }
}
@media only screen and (max-width: 992px) {
  /* line 341, assetic_compassRt42J5.scss */
  footer #footer-1 .phone {
    text-align: center;
    padding-left: 0;
    margin-top: 20px;
  }

  /* line 347, assetic_compassRt42J5.scss */
  footer #footer-1 .phone:before {
    background: none;
  }
}
/* line 352, assetic_compassRt42J5.scss */
footer #footer-1 .phone div {
  font-size: 10px;
  font-family: "AvantGarde-ExtraLight", Helvetica, Arial;
}

@media only screen and (max-width: 1200px) {
  /* line 358, assetic_compassRt42J5.scss */
  footer #footer-1 .phone div {
    font-size: 8px;
  }
}
@media only screen and (max-width: 992px) {
  /* line 364, assetic_compassRt42J5.scss */
  footer #footer-1 .phone div {
    font-size: 10px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 992px) {
  /* line 371, assetic_compassRt42J5.scss */
  footer #footer-1 .actions {
    margin-top: 20px;
  }
}
/* line 376, assetic_compassRt42J5.scss */
footer #footer-1 .actions .btn {
  padding-left: 50px;
  margin: 15px auto;
  width: 200px;
  display: block;
  text-align: left;
  position: relative;
  height: 40px;
}

@media only screen and (max-width: 992px) {
  /* line 387, assetic_compassRt42J5.scss */
  footer #footer-1 .actions .btn {
    display: inline-block;
    margin: 0 15px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 394, assetic_compassRt42J5.scss */
  footer #footer-1 .actions .btn:first-child {
    margin-bottom: 15px;
  }
}
/* line 400, assetic_compassRt42J5.scss */
footer #footer-1 .actions .btn.meet-me:before {
  left: 9px;
  top: 3px;
  width: 32px;
  height: 30px;
  background-position: -243px -5px;
}

/* line 408, assetic_compassRt42J5.scss */
footer #footer-1 .actions .btn.call-me:before {
  width: 26px;
  height: 30px;
  background-position: -104px -5px;
  left: 11px;
  top: 3px;
}

/* line 416, assetic_compassRt42J5.scss */
footer #footer-2 {
  background-color: #000;
  padding: 20px 0;
}

/* line 421, assetic_compassRt42J5.scss */
footer #footer-2 .corporate {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

/* line 427, assetic_compassRt42J5.scss */
footer #footer-2 .corporate a {
  color: #fff;
}

/* line 431, assetic_compassRt42J5.scss */
footer #footer-2 .legal {
  font-size: 10px;
  color: #777777;
  margin-bottom: 0;
}

/* line 437, assetic_compassRt42J5.scss */
footer #footer-2 .legal a {
  color: #777777;
}

/* line 441, assetic_compassRt42J5.scss */
.bullets ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 447, assetic_compassRt42J5.scss */
.bullets ul li {
  padding: 2px 0px 2px 20px;
  margin-bottom: 10px;
  position: relative;
}

/* line 454, assetic_compassRt42J5.scss */
.bullets ul li:last-child {
  margin-bottom: 0;
}

/*Body*/
/* line 460, assetic_compassRt42J5.scss */
.programs {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 466, assetic_compassRt42J5.scss */
.programs h1 {
  font-family: "AvantGarde-Bold", Helvetica, Arial;
}

/* line 470, assetic_compassRt42J5.scss */
.programs h1 span {
  display: block;
  font-family: "AvantGarde-ExtraLight", Helvetica, Arial;
  font-size: 24px;
}

/* line 476, assetic_compassRt42J5.scss */
.programs #sorterForm {
  margin: 20px 0;
}

/* line 480, assetic_compassRt42J5.scss */
.programs #sorterForm .bootstrap-select {
  width: 100%;
}

/* line 484, assetic_compassRt42J5.scss */
.programs #sorterForm .bootstrap-select.open button {
  background-color: #fff;
}

/* line 488, assetic_compassRt42J5.scss */
.programs #sorterForm .bootstrap-select button {
  padding: 9px 12px;
  border-color: #8b9297;
  border-radius: 0;
}

/* line 494, assetic_compassRt42J5.scss */
.programs #sorterForm .bootstrap-select button:focus {
  outline: none !important;
  background-color: #fff;
}

/* line 499, assetic_compassRt42J5.scss */
.programs #sorterForm .bootstrap-select button:hover {
  background-color: #fff;
}

/* line 503, assetic_compassRt42J5.scss */
.programs #sorterForm .bootstrap-select button .filter-option {
  text-align: center;
  white-space: normal;
}

@media only screen and (max-width: 1200px) {
  /* line 509, assetic_compassRt42J5.scss */
  .programs #sorterForm .bootstrap-select button .filter-option {
    font-size: 12px;
    line-height: 20px;
  }
}
/* line 517, assetic_compassRt42J5.scss */
.programs #sorterForm .bootstrap-select button .filter-option:before,
.programs #sorterForm .bootstrap-select button .filter-option:after {
  vertical-align: middle;
  content: "\f107";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 3px 0;
}

/* line 530, assetic_compassRt42J5.scss */
.programs #sorterForm .bootstrap-select button .filter-option:before {
  float: left;
}

/* line 534, assetic_compassRt42J5.scss */
.programs #sorterForm .bootstrap-select button .filter-option:after {
  float: right;
}

/* line 538, assetic_compassRt42J5.scss */
.programs #sorterForm .bootstrap-select button .caret {
  border: none;
}

@media only screen and (max-width: 1200px) {
  /* line 543, assetic_compassRt42J5.scss */
  .programs #sorterForm .bootstrap-select button .caret {
    margin: 4px 0;
  }
}
/* line 548, assetic_compassRt42J5.scss */
.programs #sorterForm .bootstrap-select .dropdown-menu {
  border-radius: 0px;
  border-color: #8b9297;
}

/* line 553, assetic_compassRt42J5.scss */
.programs #sorterForm .bootstrap-select .dropdown-menu li a:focus {
  outline: none;
}

/* line 557, assetic_compassRt42J5.scss */
.programs #resetFilters {
  display: inline-block;
}

/* line 561, assetic_compassRt42J5.scss */
.programs .programs-container {
  margin-top: 30px;
}

/* line 565, assetic_compassRt42J5.scss */
.programs .programs-container #resetSearch {
  margin: 40px auto;
  display: block;
}

/* line 570, assetic_compassRt42J5.scss */
.programs .col-md-4 .caption {
  margin: -30%;
}

/* line 574, assetic_compassRt42J5.scss */
.programs .col-md-6 .caption {
  margin: -20% -30%;
}

/* line 578, assetic_compassRt42J5.scss */
.programs .col-md-8 .caption {
  margin: -15% -30%;
}

/* line 581, assetic_compassRt42J5.scss */
.programs .col-md-8 .caption .title-menu {
  margin: 20% auto;
}

@media only screen and (max-width: 992px) {
  /* line 586, assetic_compassRt42J5.scss */
  .programs .col-md-8 .caption {
    margin: -30%;
  }
}
/* line 591, assetic_compassRt42J5.scss */
.programs .col-sm-12 .caption {
  margin: -15% -30%;
}

/* line 594, assetic_compassRt42J5.scss */
.program {
  position: relative;
  margin-bottom: 30px;
}

/* line 599, assetic_compassRt42J5.scss */
.program.program-thumbnail {
  min-height: 360px;
  max-height: 360px;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  /* line 606, assetic_compassRt42J5.scss */
  .program.program-thumbnail {
    max-height: 293px;
    min-height: 293px;
  }
}
@media only screen and (max-width: 992px) {
  /* line 613, assetic_compassRt42J5.scss */
  .program.program-thumbnail {
    min-height: 345px;
    max-height: 345px;
  }
}
/* line 619, assetic_compassRt42J5.scss */
.program.high {
  min-height: 750px;
}

/* line 623, assetic_compassRt42J5.scss */
.program img {
  min-height: 360px;
  max-height: 360px;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  /* line 630, assetic_compassRt42J5.scss */
  .program img {
    max-height: auto;
    min-height: auto;
  }
}
/* line 636, assetic_compassRt42J5.scss */
.program .hover {
  color: #fff;
  font-family: "AvantGarde-ExtraLight", Helvetica, Arial;
}

/* line 641, assetic_compassRt42J5.scss */
.program .hover .img-gallery {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

/* line 648, assetic_compassRt42J5.scss */
.program .hover:focus {
  outline: none;
}

/* line 652, assetic_compassRt42J5.scss */
.program .hover:hover .caption {
  -webkit-transform: scale(1);
  -webkit-transform-origin: 0 0;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  top: 0;
  left: 0;
}

/* line 663, assetic_compassRt42J5.scss */
.program .caption {
  transition: all .2s ease-in-out;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  /* line 676, assetic_compassRt42J5.scss */
  .program .caption {
    margin: 0% -30% !important;
    top: 20%;
  }
}
/* line 682, assetic_compassRt42J5.scss */
.program .caption .wrapper {
  position: relative;
  height: 100%;
}

/* line 687, assetic_compassRt42J5.scss */
.program .caption .wrapper .title {
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  /* line 697, assetic_compassRt42J5.scss */
  .program .caption .wrapper .title {
    position: absolute;
    bottom: 0;
    max-width: 150px;
    width: 150px;
    left: 50%;
    margin-left: -75px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 708, assetic_compassRt42J5.scss */
  .program .caption .wrapper .title {
    max-width: 300px;
    width: 300px;
    margin-left: -150px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 716, assetic_compassRt42J5.scss */
  .program .caption .wrapper .title {
    max-width: 150px;
    width: 150px;
    margin-left: -75px;
  }
}
/* line 723, assetic_compassRt42J5.scss */
.program .caption .wrapper .status {
  width: 140px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 10px 6px 10px;
  font-size: 14px;
  line-height: 15px;
  margin: auto;
  position: relative;
  font-family: "AvantGarde-Medium", Helvetica, Arial;
  top: -30px;
}

/* line 737, assetic_compassRt42J5.scss */
.program .caption .wrapper .image {
  height: 40px;
  width: 40px;
  margin: 20px auto;
}

@media only screen and (max-width: 992px) {
  /* line 744, assetic_compassRt42J5.scss */
  .program .caption .wrapper .image {
    display: block !important;
    margin-top: 0;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 751, assetic_compassRt42J5.scss */
  .program .caption .wrapper .image {
    display: none;
  }
}
/* line 756, assetic_compassRt42J5.scss */
.program .caption .wrapper .location {
  height: 59px;
  font-size: 26px;
  text-align: center;
  line-height: 28px;
  word-wrap: break-word;
}

@media only screen and (max-width: 1200px) {
  /* line 765, assetic_compassRt42J5.scss */
  .program .caption .wrapper .location {
    font-size: 24px;
  }
}
/* line 770, assetic_compassRt42J5.scss */
.program .caption .wrapper .location span {
  font-family: "AvantGarde-Medium", Helvetica, Arial;
}

/* line 774, assetic_compassRt42J5.scss */
.title-menu {
  text-align: center;
  font-size: 26px;
  font-family: "AvantGarde-Bold", Helvetica, Arial;
  text-transform: uppercase;
  margin: 25% auto;
}

/* line 782, assetic_compassRt42J5.scss */
.title-myaccount {
  text-align: center;
  font-size: 22px;
  font-family: "AvantGarde-Bold", Helvetica, Arial;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 791, assetic_compassRt42J5.scss */
.title-footer {
  text-align: center;
  font-size: 16px;
  font-family: "AvantGarde-medium", Helvetica, Arial;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}

/* line 801, assetic_compassRt42J5.scss */
.content h1 {
  font-size: 26px;
  text-align: center;
  font-family: "AvantGarde-Bold", Helvetica, Arial;
  font-weight: 300;
  margin: 0 auto 10px;
  text-transform: uppercase;
}

/* line 810, assetic_compassRt42J5.scss */
.content h2 {
  text-align: left;
  font-family: "AvantGardeLT-Book", Helvetica, Arial;
}

/* line 815, assetic_compassRt42J5.scss */
.content b {
  font-family: "AvantGarde-Bold", Helvetica, Arial;
}

/* line 819, assetic_compassRt42J5.scss */
a.list-group-item {
  height: auto;
  min-height: 220px;
}

/* line 823, assetic_compassRt42J5.scss */
a.list-group-item.active small {
  color: #fff;
}

/* line 827, assetic_compassRt42J5.scss */
.ma-news {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 834, assetic_compassRt42J5.scss */
.ma-news .ma-row {
  margin: 20px;
  padding: 5px;
}

/* line 839, assetic_compassRt42J5.scss */
.ma-news article {
  color: #FFF;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3px 20px;
}

/* line 845, assetic_compassRt42J5.scss */
.inline {
  display: inline-block;
}

/* line 848, assetic_compassRt42J5.scss */
label {
  min-width: 120px;
}

/* line 851, assetic_compassRt42J5.scss */
.titleprghp {
  background: #555;
  height: 46px;
  color: #fff;
  font-size: 23px;
  height: 46px;
  line-height: 40px;
  padding: 0 0 0 20px;
  margin: 20px 0 20px;
}

/* line 862, assetic_compassRt42J5.scss */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: rgba(255, 255, 255, 0.7) !important;
  border-color: #fff !important;
  font-weight: bold !important;
  color: #000 !important;
}

/* line 873, assetic_compassRt42J5.scss */
.pagination > li > a, .pagination > li > span {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
