body{
    font-family: Arial;
    font-size: 0.83vw;
    margin:0;
    overflow-x: hidden;
    background-color: #e4e4e4;
}
#parent{
    display:flex;
    flex-wrap:wrap; 
    align-items: stretch;
    justify-content: space-between;
}
#Grandenavigation{
    background-color: #191919;
    height: 67px;
    border-bottom:5px solid #8e837b; 
}
.logo{
    background-repeat: no-repeat;
    background-color: black;
    display: block;
    margin-left:5px;
    align-self: flex-start;
    /*position: absolute;*/
	width: 67px;
    height: 67px;
}
.span{
    color: white;
    margin:10px; 
    display: block;
    text-align: center;
    margin-top: 25px;
    transition: color 0.1s linear;
}
.span::first-letter{
    font-size:125%;
}
.button:hover .span{
    /*color:#da4599;*/
}

.button{
    text-decoration: none;
    height: 67px;
    font-size: 0.83vw;
    font-weight: 900;
    text-transform: uppercase; 
    flex:1;
}
.button:hover{
    background-color: black;
}
/*//////////////Edito//////////////////////////////*/
.editobox{
    background-color: #c9c8c8;
    width: 80%;
    max-height: 1000px;
    margin: 20px auto;
    padding: 10px;
    border-bottom: 5px solid #8e837b;
}
.editotexte{
    width:70%;
    float: left;
    line-height: 1.5;
}
.logo img{
	width:100%;
}
.editoimage{
    background-color: #808080;
    padding: 10px;
    padding-right: 10px;
    max-width: 250px;
    margin-left: 72%;
    margin-bottom: 50px;
}
.editoimage img{
    width: 100%;
    height: auto;
}
.edito > .clear{
    clear:both;
    height: 0;
    overflow: hidden;
}
/*//////////////Carouselle slider//////////////////*/
.slider{
    width:100%;
    /*max-width: 1000px;*/
    overflow: hidden;
   /* border:5px solid #8e837b;
    border-radius: 2px;*/
    margin:auto;
    /*margin-top: 25px;*/
}
.calque{
    position: absolute;
    width:37.5%;
   /* max-width: 378px;*/
    height:auto;
    z-index: 5;
    opacity:0.8;
    margin:5px;
}
.slider figure{
    position:relative;
    width:500%;
    margin: 0;
    padding:0;
    font-size: 0;
    text-align: left;
    animation:10s slider infinite;
}
.slider figure img{
    width:20%;
    height:auto;
    float: left;
}
@keyframes slider{
    0%{left:0%}
    20%{left:0%}
    25%{left:0%}
    30%{left:0%}
    50%{left:-100%}
    70%{left:-100%}
    75%{left:-100%}
    80%{left:-100%}
    100%{left:-200%}
}
.play_commands{
    position:absolute;
    top:75px;
    right: 25px;
    z-index: 10;
    width: 22px;
    height: 22px;
    text-indent:-9999px;
    border:0 none;
    opacity:0;
    transition:opactity 1s, right 1s;
}
.play{
    right:55px;
    cursor:default;
}
.pause:after,.pause:before{
    position:absolute;
    display:block;
    content:" ";
    top:0;
    width: 38%;
    height:22px;
    background: #fff;
    background:rgba(255,255,255,0.5);    
}
.pause:after{
    right:0;
}
.pause:before{
    left:0;
}
.play{
    width:1px;
    height:1px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid rgba(255,255,255,0.5);
    opacity:0;
}
.slider:hover .pause, .play_commands:focus{
    opacity:1;
    outline:none;
}

.sl_command:target ~ .slider .pause{
    opacity:0;
}
#sl_play:target ~ .slider:hover .pause,
#sl_play:target ~ .slider .pause:focus{
    opacity:1;
}
.sl_command:target ~ .slider .play {
    opacity:1;
    right:25px;
    cursor:pointer;
}
#sl_play:target ~ .slider .play{
    opacity: 0;
    right:55px;
    cursor:default;
}
.dots_commands{
    padding:0;
    text-align: center;
    background-color: #8e837b;   
    width: 100%;
    height: 20px;  
    margin:0px;
}
.dots_commands li{
    display:inline;
    padding:0;
    margin:0;
}
.dots_commands a{
    position:relative;
    display:inline-block;
    height:8px;
    width:8px;
    margin:5px 3px;
    text-indent:-9999px;
    background:#fff;
    border-radius:50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
    font-size:20px;
}
.dots_commands a:focus{
    outline:none;
    background:#da4599;
}
.dots_commands li:first-child a{
    z-index:25;
}
.commands{
    position:absolute;
    top:30%;
    padding: 5px 13px;
    border-bottom: 0;
    font-size: 1.3em;
    color:#aaa;
    text-decoration: none;
    background-color: #eee;
    background-image:linear-gradient(#fff,#ddd);
    text-shadow:0 0 1px #aaa;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.prev{
    left:0px;
    opacity:0;
}
.next{
    right:0px;
    opacity: 0;
}
.slider:hover .next,.slider:hover .prev,section:hover:not(header) .next, section:hover:not(header) .prev{
    opacity: 1;
}
.c_slider:hover .next, .c_slider:hover .prev
.commands{
    display:none;
}
.commands1{
    display:block;
}
.c_slider{
    position:absolute;
    left:0;
    top:72px;
    width:400%;
    height:90%;
    background: url("perspective1 large.jpg") 0 0 no-repeat,
        url("perspective2 large.jpg") 100% 0 no-repeat;
    transition:background 1s;
    background-size: 25%;
    display:none;
}
.sl_i:target ~ .slider figure{
    visibility: hidden;
}
.sl_i:target ~ .c_slider{
    display: block;
}
.sl_i:target ~ .dots_commands li:first-child a:after{
    visibility: hidden;
}
.sl_i:target ~ .commands1{
    display:block;
}
#sl_i1:target ~ .c_slider{
    background-position: 0% 0%, 33.33% 0%;
}
#sl_i1:target ~ .dots_commands li:first-child a:before{
    left:0;
}
#sl_i2:target ~ .commands{
    display:none;
}
#sl_i2:target ~ .commands1{
    display: block;
}
#sl_i2:target ~ .c_slider{
    background-position: -33.33% 0%, 0% 0%;
}
#sl_i2:target ~ .dots_commands li:first-child a:before{
    left:18px;
}
.dots_commands li:first-child a:after,
.dots_commands li:first-child a:before {
    position: absolute;
    top: 0px; 
    left: 0px;
    content: " ";
    margin:0px 0px;
    width: 8px; 
    height: 8px;
    background: #da4599;
    z-index:20;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
}
.dots_commands li:first-child a:after{
    animation: dotser 10s infinite;
}
.dots_commands li:first-child a:before { 
    display:none; 
}
@keyframes dotser {
    0%, 100%            { opacity: 1; left: 0;}
    20%			{ opacity: 1; left: 0;}    
    22%			{ opacity: 1; left: 0px;}
    28%                 { opacity: 1; left: 0px;}
    30%			{ opacity: 0; left: 0px;}
    45%			{ opacity: 0; left: 17px;}
    50%			{ opacity: 1; left: 17px;}
    70%			{ opacity: 1; left: 17px;}
    75%			{ opacity: 1; left: 17px;}
    78%                 { opacity: 1; left: 17px }
    80%			{ opacity: 0; left: 17px;}
    95%                 { opacity: 0; left: 0px}
}
/*//////////////Fenetre avec Zoom//////////////////*/
.fenetrehref{
    text-decoration: none;    
}
.conteneur {

    height: 350px; 
    margin: 5px; 
    width:350px;
    display: inline-block;
    vertical-align: bottom;
    background-image: url("interieur3.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.quartier{
    background-image: url("160613 Romainville - Perspective 3 HD - Coeur d'ilot.jpg");
}
.projet{
    background-image: url("ESPACEDEVENTE.PNG");
}
.contact{
    background-image: url("interieur1.PNG");
}
.top{
    margin-top: 50px;
}
.title-menu{
    height: 100px;
    margin: 50% auto;
    padding-top: 45%;
    transition-property: transform;
    -webkit-transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: ease;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.title-menu::first-letter{
    font-size: 125%;
}
.bloc {
    width:50%;
    height: 50%;
    background-color: rgba(0,0,0,1);
    margin: auto;  
    transition-property: transform;
    -webkit-transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: ease;    
}
.conteneur:hover .bloc:not(.title-menu) {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    background-color: rgba(0,0,0,0.3);
}
.conteneur:hover .title-menu {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
}
.flexbox{
    position: relative;
    padding-left: 12.5%;
    padding-right: 12.5%;
    margin:auto;
    text-align: center;
    z-index: 50000;
}
.sl_command:target ~ .slider figure ,
.sl_command:target ~ .dots_commands li:first-child a:after{
    animation-play-state: paused;
}
#sl_play:target ~ .slider figure ,
#sl_play:target ~ .dots_commands li:first-child a:after{
    animation-play-state: running;
}
/*///////////////////Articles////////////////////////*/
.bckarticle{
    background-image: url("/uploads/img/160607 Romainville - Perspective 1 HD - Avenue Leydier.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 800px;
    padding-top: 1px;
    padding-bottom: 1px; 
}
.ctnarticle{
    background-color: rgba(0, 0, 0, 0.5);
    margin:250px;
    margin-top: 70px;
    min-height: 700px;
    padding-top: 1px;
    padding-bottom: 1px;
    color:white;
}
.entete{
    font-size:1.25vw;
    background-color: #da4599;
    width:300px;
    height: 40px;
    position: absolute;
    margin-left: calc(50% - 150px);
    top:100px;
    line-height: 39px;
}
.article{
    margin: 25px;
    padding: 10px;
    border-bottom: 1px solid white;
}
.textebox{
    padding-top: 20px;
    padding-bottom: 10px
}
.textebox div{
    display:block;
}
#titrarticle{
    text-decoration: none;
    font-size:1.04vw;
}
.photoarticle{
	outline: none;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
    border: 2px solid white;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin:1px;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
	cursor:pointer;
}
.video{
    	outline: none;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
    display: inline;
    vertical-align: middle;
    margin:1px;
}
.photoarticle:focus{
    outline: none;
    position: fixed;
    -webkit-transform:scale(4); 
    -moz-transform:scale(4);
    -o-transform:scale(4);
    transform: scale(4);
    z-index: 9999;
    top:calc(50% - 70px);
    left:calc(50% - 100px);
}
.texte{
    width: 50%;
    float: left;
    margin:10px
}
.dlIcon img{
    width:15px;
    height: auto;
    vertical-align:bottom;
}
.dlIcon{
    vertical-align:bottom;
}
/*/////////////////Galerie/////////////////////*/

/*/////////////////fenetre add/////////////////*/
input[type=text]:not(.contactP),textarea:not(.contactP), select {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 0.83vw;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin: auto
}
button{
    background-color: #da4599;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.well{
    margin:100px;
    text-align: center;
}
h3{
    text-align: center
}
.add{
    font-size:1.25vw;
    background-color: #da4599;
    width:300px;
    height: 40px;
    padding: 5px;
    text-decoration: none;
    color:white
}

/*///////////////Quartier///////////*/
.grandMain{
    height: auto;
    width: 85%;
    margin: auto;
}

.mainQ{
    padding:20px;
}
.quartierTitre{
    padding:15px;
    border-bottom: 1px solid black;
    font-size: 1.25vw;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}
.quartierDiv{
    background-color: white;
    width: calc(100% - 60px);
    border-bottom: 5px solid #ccc;
    margin-left: 60px;
    margin-bottom: 20px;
}
.quartierContenu{
    padding: 10px;
}
.quartierCalque{
    background-color: #da4599;
    width: 100%;
}
.planQuartier{
    padding :6px;
    background-color:#da4599; 
    max-width: 570px;
    height: 591px;
    min-width: 562px;
    margin-bottom: 50px;
}
.tableQ ,.tableQ td ,.tableQ tr{
    margin:auto;
    width: 60%;
    border-spacing: 15px;
    /*border: 1px solid black;
    border-collapse: separate;*/
}
.tableQ .trtop td{
    padding:10px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.tableQ td:nth-child(2n){
    background-color: #3f3f3f;
    text-align: center;
    color:white;
}
.tableQ .trtop td:nth-child(2n+1){
    background-color: white;
    color:#26262c;
    text-align: center;
}
.tableQ td:first-child:first-line{
    font-size: 1.25vw;
}
.tableQ .plan{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.tableQ img{
    width: 100%;
    height: 100%;
}
.tableQ td{

}
.tableQ{
    margin-bottom: 50px;
    position: relative;
    margin-top: -100px;
    top:50%;
    width: 65%;
    font-size: inherit;
}
/*///////////sidebar//////////*/
.mainQaside{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.sidebar{
    float:right;
    width: 30%;
    height: 100%;
    /*background-color: green;*/
    
}
.asideTest{
    width: 75%;
    max-width: 228px;
    padding: 5px;
    margin:auto;
    margin-bottom: 17px;
    background-color: #da4599;
    color:white;
}
.main{
    float:left;
    width:calc(70% - 40px);
   /* background-color: blue;*/
    margin-right: 0px;
    height: calc(100% + 100px);
    padding:20px;
}
.quartierCalque h3{
    text-align: left;
    line-height:3;
    float: left;
    margin-left: 20px;
    color:white;
}
.asideTest img{
    width: 100%;
    height: auto;
}
.planQuartier img{
    width: 100%;
    height: auto;
}
.legende{
    text-align: center;
    padding-top: 5px;
}
/*///////////projet//////////////////*/
.projetTitre{
    padding:15px;
    border-bottom: 1px solid black;
    font-size: 0.94vw;
    font-weight: bold;

}
.mainProjet{
    width: 75%;
    margin:auto;
   /* background-color: blue;*/
    height: auto;
    padding:20px;
}
.photoProjet{
    max-width:150px;
    max-height:150px;
    width: auto;
    height: calc(100% + 100px);
    border: 2px solid white;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin:1px;
}
.spaceP{
    width:5px;
    height: 5px;
    flex:1;
}
.projetContent{
    display: flex;
    flex-wrap:wrap; 
    justify-content: center;
    width:100%;
    height:auto;
}
.projetArticle{
    padding: 20px;
    font-size:0.83vw;
    line-height: 20px;
    width:45%;
}
.projetArticleTitre{
    font-size: 1.04vw;
    text-align: center;
    font-weight: bold;
}/*
.projetTitref::first-line{
    color:#da4599;
    font-size: 175%;
}
.projetTitref{
    font-size: 150%;
}
.longTextProjet{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #da4599;
}
.projetContentF{
    font-size:16px;
    line-height: 20px;
    margin-bottom: 20px;
}
.middle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    padding:0px;
}
.partiPriv{
    width: 47%;
}
.PatiCom{
    width: 47%;
}*/
.quartierCalque{
    /*background-color: #da4599;*/
    width: 100%;
    height: 160px;
}
.tableP ,td ,tr{
    margin:auto;
    border-spacing: 15px;
}
.tableP td{
    overflow: hidden;
    text-align: center;
}
.tableP td:nth-child(2n){
    background-color: #3f3f3f;
    text-align: center;
    color:white;
}
.tableP td{
    background-color: white;
    color:#26262c;
    ext-align: center;
}

.tableP img{
    width: 50px;
    height: auto;
}
.tableP{
    margin-bottom: 50px;
    position: relative;
    margin-top: -100px;
    width: 50%;
    font-size: inherit;
}
.frsttd{
    padding:0;
}
.tableP td:not(.frsttd){
    padding: 10px;
}
.partipriv{
    display: flex;
    /*width: 250px;*/
}
.partiprivG{
    margin-right: 10px;
    border-right: 1px solid black;
    width: 80%;
}
.tableP .livraison{
    white-space: nowrap;
    background-color: black;
    color:white;
    text-align: center;
}
.tableP .chantier{
    background-color: #973632;
    color:white;
    text-align: center;
}
.particom{
    background-color: #3f3f3f !important   ;
    color:white !important;
}
.projetDiv{
    display:flex;
    flex-wrap:wrap; 
    background-color: white;
    border-bottom: 5px solid #8e837b;
    margin-left: 60px;
    padding: 10px;
    height: 100%;
}
/*/////////////contact//////////*/
.contactP{
    width: 90%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 0.83vw;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin: auto
}
/*//////////////////Footer/////////////////////*/
footer #footer-2 {
  background-color: #000;
  padding: 20px 0;
}

footer #footer-2 .corporate {
  text-transform: uppercase;
  font-size: 0.73vw;
  color: #fff;
}

footer #footer-2 .legal {
  font-size: 0.52vw;
  color: #777777;
  margin-bottom: 0;
}

footer #footer-2 .legal a {
  color: #777777;
}

.col-md-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.text-center {
  text-align: center
}

footer #footer-2 .legal {
  font-size: 0.52vw;
  color: #777777;
  margin-bottom: 0;
}

footer #footer-2 .legal a {
  color: #777777;
}
.venteEspace{
	background-color:#3f3f3f;
	color:white;
}