{% extends "base.html.twig" %}    
{% block title %}En images{% endblock %}
{% block body %}
    <div class="blocTitre">
        <div class="titrepage">En images</div>
        <div class="sous-titrepage">Retrouvez ici toutes les images du chantier.</div>
    </div>
        <div class="ArticleMain">
            <div class="bloc-enimages">
                <div class="imagegalerie">
                    {% for article in listArticle %}
                        {% for image in article.images %}
                            {% if 'youtube' in image.url or 'pdf' in image.url or 'PDF' in image.url %}
                            {% else %}
                                <div class="photo">
                                    <a data-fancybox="images" href="{{ asset(image.webPath) }}" data-caption="{{image.alt }}">
                                        <img tabindex="{{article.id}}" class="photoarticle" src="{{ asset(image.webPath) }}" alt="{{image.alt }}"/>
                                    </a>
                                </div>
                            {% endif %}
                        {%endfor%}
                    {% endfor %}
                    <br>
                    {% for article in listArticle %}
                        {% for image in article.images %}
                            {% if 'youtube' in image.url %}
                                <div class="photo">
                                <iframe src="{{image.url}}" frameborder="0" allowfullscreen style=""></iframe>
                                </div>
                            {% else %}
                            {% endif %}
                        {%endfor%}
                    {%endfor%}
                </div>
            </div>
        </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/dist/jquery.xgallerify.js"></script>
    <script>
        $('.imagegalerie').gallerify({
            // the space between images
            margin:5,
            // 'default', 'bootstrap' or 'flickr'
            mode:'default',
            // 'fullwidth' or 'adjust'
            lastRow:'adjust',
        });
    </script>
{% endblock %}

