{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}" type="text/css"/>


    <div class="blocTitre">
        <div class="titrepage">Editer Utilisateur</div>
        <div class="sous-titrepage"><a href="{{ path('admin_index') }}">Retour à l'espace admin</a>

        </div>
    </div>
        <br>
    <br>
        <a href="{{ path('admin_user_index') }}">Page précédente</a>

    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
