{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}" type="text/css"/>


    <div class="blocTitre">
        <div class="titrepage">Bienvenue</div>
        <div class="sous-titrepage">Espace Administrateur</div>

    </div>

    <div class="programs">
        <div class="container">
                <div class="row stylish-panel text-center" style="margin: 60px auto">
                    <div class="col-md-4">
                        <a href="{{ path('admin_article_index') }}">
                            <i class="fa fa-5x fa-newspaper-o"></i>
                            <h4>Les Actualités</h4>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('admin_user_index') }}">
                            <i class="fa fa-5x fa-users"></i>
                            <h4>Les Utilisateurs</h4>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('files_all') }}">
                            <i class="fa fa-5x fa-gears"></i>
                            <h4>Les Documents</h4>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('admin_category') }}">
                            <i class="fa fa-5x fa-gears"></i>
                            <h4>Les Catégories</h4>
                        </a>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}