{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="blocTitre">
        <div class="titrepage">Crée un utilisateur</div>
    </div>
    <br>
    <br>
    <a href="{{ path('admin_user_index') }}">Page précédente</a>

    {{ include('admin/_form.html.twig') }}

{% endblock %}
