{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}" type="text/css"/>

    <div class="blocTitre">
        <div class="titrepage">Utilisateur</div>
    </div>
    <br>
    <a href="{{ path('user_edit', {'id': user.id}) }}">Editer utilisateur</a>
    <table class="table">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
