{% extends 'base.html.twig' %}

{% block title %}Files index{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}" type="text/css"/>

    <div class="blocTitre">
        <div class="titrepage">Les Documents</div>
        <div class="sous-titrepage"><a href="{{ path('admin_index') }}">Retour à l'espace admin</a>
        </div>
    </div>
<div id="files_pages">
    <a href="{{ path('files_new') }}">Envoyer un document</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom du document</th>
                <th>Catégorie</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>{{ file.name }}</td>
                <td>{{ file.category}}</td>
                <td>{{ file.createdAt ? file.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td><a class="btn " style="background-color: black;color: white;"href="{{ path('files_show', {'id': file.id}) }}">Voir</a></td>
                <td>  <a class="btn "style="background-color: black;color: white;" href="{{ path('files_edit', {'id': file.id}) }}">Editer</a></td>
                <td> {{ include('files/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>
{% endblock %}
