{% extends 'base.html.twig' %}

{% block title %}Edit Files{% endblock %}

{% block body %}
   <div class="blocTitre">
        <div class="titrepage">Editer un document</div>
    </div>
    {{ include('files/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('files_index') }}">back to list</a>

    {{ include('files/_delete_form.html.twig') }}
{% endblock %}
