{% extends 'base.html.twig' %}


{% block body %}
    <link rel="stylesheet" href="{{asset('/css/3971a8a.css')}}" type="text/css"/>
    <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}" type="text/css"/>
    <link rel="stylesheet" href="{{asset('/css/style.css')}}" type="text/css"/>
    <script src="{{ asset('/js/4a4e027_bootstrap.min_2.js')}}"></script>


    <div class="blocTitre">
        <div class="titrepage">Vos Documents</div>
        <div class="sous-titrepage"><a href="{{ path('user_index') }}">Retour à l'espace utilisateur</a></div>


    </div>

    <div class="programs">
        <div class="container">
            <div id="wrapperPrograms" class="programs-container">
                <div class="row">
                    {% for cat in categoryFiles|slice(0, 5) %}
                        {% if cat.id == 5 %}
                            <article class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                                <div id="program-01101" class="program program-thumbnail" style="background: url({{ asset('illustrations/' ~ cat.picture) }}) no-repeat center center #d1d1d1;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; ">
                                    <a href="#" data-toggle="modal" data-target="#cat{{cat.id}}-modal" class="hover gamme-2">
                                        <img src="{{ asset('slider/dummy.png') }}" width="10" height="10" class="img-responsive" alt="">
                                        <div class="caption">
                                            <div class="wrapper">
                                                <div class="title-menu">
                                                    {{cat.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </article>
                        {%else%}
                            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <div id="program-01101" class="program program-thumbnail" style="background: url({{ asset('illustrations/' ~ cat.picture) }}) no-repeat center center #d1d1d1;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                                    <a href="#" data-toggle="modal" data-target="#cat{{cat.id}}-modal" class="hover gamme-2">
                                        <img src="{{ asset('slider/dummy.png') }}" width="10" height="10" class="img-responsive" alt="">
                                        <div class="caption">
                                            <div class="wrapper">
                                                <div class="title-menu">
                                                    {{cat.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </article>
                        {%endif%}

                        <div class="modal fade" id="cat{{cat.id}}-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">{{cat.name}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <div class="alert alert-dismissible alert-info text-center hide-for">
                                                    Vous n'avez actuellement aucun documents dans cette section.
                                                </div>
                                                {% for file in files %}
                                                    {% if file.category == cat.name %}
                                                        <style>.hide-for{display: none;}</style>
                                                        <tr>
                                                            <td>
                                                                <b>{{file.name}} ({{file.createdAt|date('d-m-Y')}})</b>
                                                            </td>
                                                            <td>
                                                                <a href="{{ asset('uploads/documents/' ~ file.url)}}" target="_blank">Acceder ici</a>
                                                            </td>
                                                        </tr>
                                                    {%endif%}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}