{% extends 'base.html.twig' %}

{% block title %}New Files{% endblock %}

{% block body %}
       <div class="blocTitre">
        <div class="titrepage">Create new Files</div>
        <div class="sous-titrepage">Le rythme d’une architecture contemporaine</div>
    </div>
<div id="files_pages">

    {{ include('files/_form.html.twig') }}

    <a href="{{ path('files_index') }}">back to list</a>
{% endblock %}
