{% extends 'base.html.twig' %}

{% block title %}Files{% endblock %}

{% block body %}
    <div class="blocTitre">
        <div class="titrepage">Envoi de documents</div>
        <div class="sous-titrepage"><a href="{{ path('files_index') }}">Page précédente</a>
        </div>
    </div>
<br>
    <br>
    <a href="{{ path('files_edit', {'id': file.id}) }}">Editer</a>

    <table class="table">

        <tbody>
            <tr>
                <th>Catégorie</th>
                <td>{{ file.category}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ file.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td><a href="{{ asset('uploads/documents/' ~file.url) }}" target="_blank">lien</a></td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ file.createdAt ? file.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('files/_delete_form.html.twig') }}
{% endblock %}
