{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}" type="text/css"/>

   <div class="blocTitre">
        <div class="titrepage">Création d'un utilisateur</div>
    </div>

    {{ include('login/_form.html.twig') }}

{% endblock %}
