{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}" type="text/css"/>

    <div class="blocTitre">
        <div class="titrepage">Modifier une categorie</div>
    </div>

    <div class="programs">
        <div class="container">
            <div class="row">
                <h5 style="padding:20px;">
                    <a href="{{ path('admin_category')}}">
                        <i class="fa fa-arrow-left"></i> Retour à la liste
                    </a>
                </h5>
            </div>

            {{ form_start(edit_form) }}
            <div class="form-horizontal" role="form">
                <div class='row'>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">Nom de la categorie :</label>
                            <div class="col-sm-10">
                                {{ form_widget(edit_form.name) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="boutton">
                            <input type="submit" class="btn btn-default" value="Modifier la categorie" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
