{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}" type="text/css"/>

    <div class="blocTitre">
        <div class="titrepage">Catégories</div>
    </div>
    <div class="programs">
        <div class="container">
            <div class="row">
                <h2>Liste des categories</h2>
                <h5>
                    <a href="{{ path('admin_index') }}">
                        <i class="fa fa-arrow-left"></i> Retour page d'accueil Admin
                    </a>
                </h5>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Illustrations</th>
                                <th>Nom</th>
                                <th>Editer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categorys %}
                                <tr>
                                    <td><img src="{{ asset("illustrations/" ~ category.picture) }}" style="width: 150px; height: 100px;" alt=""/></td>
                                    <td>{{ category.name|capitalize }}</td>
                                    <td class="text-center"><a href="{{ path('admin_category_edit', { 'id': category.id }) }}">Editer</a></td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}