<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="{{asset("/images/logo.png")}}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{asset('/css/layoutSheets2.css')}}" type="text/css"/>
            <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,500,600,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
        <title>{% block title %}{% endblock %} - Nexity Bagneux -</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <div class="menuPc">
            <div class="bloc-haut" id="bloc-haut">
                <div class="haut-gauche">
                    <div class="divlogo">
                        <a href="{{path('home')}}"><img id="logo" src="{{asset("/images/logo.png")}}" alt="logo nexity"/></a>
                    </div>
                </div>
                <div class="haut-droit" id="haut-droit">
                    <a class="button" href="{{path('quartier')}}"><span class="span">Le quartier</span></a>
                    <a class="button" href="{{path('projet')}}"><span class="span">Le projet</span></a>                    
                    <a class="button" href="{{path('article_index')}}"><span class="span">Actualités</span></a>
                    <a class="button" href="{{path('image')}}"><span class="span">En images</span></a>
                    {% if is_granted('ROLE_USER') %}
                    <a class="button" href="{{path('user_index')}}"><span class="span">Espace Membres</span></a>
                    <a class="button" href="{{path('logout')}}"><span class="span">Déconnexion</span></a>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <a class="button" href="{{path('admin_index')}}"><span class="span">Espace Membres</span></a>
                        <a class="button" href="{{path('logout')}}"><span class="span">Déconnexion</span></a>
                    
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="menuMobile">
            <div class="mobileGauche">
                <div class="divlogo">
                    <a href="{{path('home')}}"><img id="logoForMobile" src="{{asset("/images/logo.png")}}"/></a>
                </div>
            </div>
            <div class="mobileDroit">
                <div class="logoMenuMobile" onclick="viewBurgerMenu();" style="cursor: pointer;">
                    <img src="{{asset("/images/menu-alt-256.png")}}" alt="Mountain View">
                </div>
            </div>
        </div>
        <div id="burgerMenu">
            <div class="QuitterBurger" onclick="hide();" style="cursor: pointer;">
                <img src="{{asset("/images/iconmonstr-x-mark-2-120.png")}}" alt="Mountain View" style="height:100%;">
            </div>
            <div class="lienBurger">
                <a class="button" href="{{path('quartier')}}"><span class="span">Le quartier</span></a>
                <a class="button" href="{{path('projet')}}"><span class="span">Le projet</span></a>
                <a class="button" href="{{path('article_index')}}"><span class="span">Actualités</span></a>
                <a class="button" href="{{path('image')}}"><span class="span">En images</span></a>
                {% if is_granted('ROLE_USER') %}
                    <a class="button" href="{{path('user_index')}}"><span class="span">Espace Membres</span></a>
                    <a class="button" href="{{path('logout')}}"><span class="span">Déconnexion</span></a>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <a class="button" href="{{path('admin_index')}}"><span class="span">Espace Membres</span></a>
                    <a class="button" href="{{path('logout')}}"><span class="span">Déconnexion</span></a>
                {% endif %}
            </div>
        </div>
    {% block body %}
    {% endblock %}
    <footer>
        <div id="footer-2">
            <div class="col-md-6 text-center">
                <img src="{{asset("/images/logo.png")}}" alt="Mountain View">
                <p class="legal"></br>
                    © Potion Médiatique | <a href="{{path('login')}}">Administrateur</a> | <a href="http://potion-mediatique.com">Crédits</a> | <a href="http://www.potion-mediatique.com/mentions_legales">Mentions légales</a>
                </p></br>
            </div>
        </div>
    </footer>
    </body>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/dist/jquery.xgallerify.js"></script>
    <script>
        $('.imagegalerie').gallerify({
            // the space between images
            margin:5,
            // 'default', 'bootstrap' or 'flickr'
            mode:{
        maxHeight: screen.height * 0.417,
        breakPoints:[
                    {
                        minWidth: 1800,
                        columns: 4
                    },{
                        minWidth: 1200,
                        columns: 3
                    },{
                        minWidth: 768,
                        columns: 2
                    },{
                        maxWidth: 768,
                        columns: 1
                    }
        ]
            },
            // 'fullwidth' or 'adjust'
            lastRow:'adjust'
        });
        $(window).on('load', function() { // Eventlistener that fires when all images are loaded
            $('.imagegalerie').gallerify.render();
        });
    </script>
    <script>
        var header = document.querySelector("header #Grandenavigation");
        var tete = document.querySelector("#blaheader");
        var image = document.querySelector("#parentSuper");
        var hauteurlogo = document.getElementById("logo").offsetHeight;
        var isSomethingShow = 0;
        var isMenuShow = 0;

        // Bind to the resize event of the window object
        $(window).on("resize", function () {
        // Invoke the resize event immediately
        }).resize();

        //haut-droit augmente width
        //ville augmente margin-left

        function scrolled(){
            currentScroll = document.body.scrollTop;
            header.className = (currentScroll >= (image.offsetHeight-100)) ? "fixed" : "";
            tete.className = (currentScroll >= (image.offsetHeight-100)) ? "superFixed" : "";
        };
        function hide(){
            document.getElementById("burgerMenu").style.display='none';
            isSomethingShow = 0;
            isMenuShow = 0;
        };
        function viewBurgerMenu(){
            if (isMenuShow == 1){
                hide();
            }
            else{
                if (isSomethingShow == 1){
                    hide();
                }
                isSomethingShow = 1;
                isMenuShow = 1;
                document.getElementById("burgerMenu").style.display='block';
            }
        };

        addEventListener("scroll", scrolled, false);
    </script>
