{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}" type="text/css"/>

    <div class="blocTitre">
        <div class="titrepage">Les Actualités</div>
        <div class="sous-titrepage"><a href="{{ path('admin_index') }}">Retour à l'espace admin</a>
        </div>
    </div>
    <div id="articles_pages">
        <table class="table">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Content</th>
                <th>date</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.titre }}</td>
                    <td>{{ article.content}}</td>
                    <td>{{ article.date|date('d/m/Y H:i')}}</td>
                    <td><a class='btn btn-xs' style="background-color: black;color: white;" href="{{ path('article_show', {'id': article.id}) }}">Voir</a></td>
                    <td><a class='btn btn-xs' style="background-color: black;color: white;" href="{{ path('article_edit', {'id': article.id}) }}">Editer</a></td>
                    <td>{{ include('article/_delete_form.html.twig') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('article_new') }}">Ajouter un article</a>
    </div>
{% endblock %}