{% extends 'base.html.twig' %}

{% block title %}Edit Files{% endblock %}

{% block body %}

       <div class="blocTitre">
        <div class="titrepage">Editer un article</div>
           <div class="sous-titrepage"><a href="{{ path('admin_article_index') }}">Page précédente</a>
           </div>
           <br>
           <br>
    {{ include('article/_form.html.twig')}}
           {% for image in article.images %}
                            <a data-fancybox="images" href="{{ asset(image.webPath) }}" data-caption="{{image.alt }}">
                                <img tabindex="{{article.id}}" class="img-fluid img-thumbnail" width="24%" src="{{ asset(image.webPath) }}" alt="{{image.alt }}"/>
                            </a>
                   <a class="btn btn-danger btn-xs" title="supprimer l'image" href="{{ path('admin_delete_image', {'id': image.id}) }}" data-turbolinks="false">supprimer</a>
        {% endfor %}
    {{ include('article/_delete_form.html.twig') }}

        <div>
    <br>
    </div>
{% endblock %}