{% extends "base.html.twig" %}    
{% block title %}L'actualité{% endblock %}
{% block body %}

    <div class="blocTitre">
        <div class="titrepage">L'actualité du chantier</div>
        <div class="sous-titrepage">Cette page a pour objectif de vous tenir informé de l'avancement des travaux.</div>
    </div>
    <div class="ArticleMain">
        {% for article in articles %}
            <div class="article">
                <div class="titre">
                    {{ article.titre }}
                </div>
                  {% if is_granted('ROLE_ADMIN')%}
                  <div>
                    <a class="add" href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                    <a class="add" href="{{ path('article_new') }}"><span >Ajouter un article</span></a>
                    </div>
                 {% endif %}
                <div class="texteArticle">
                    {{article.content|nl2br}}
                </div>
                <div class="bloc-enimages">
                    <div class="imagegalerie">
                        {% for image in article.images %}
                            {% if 'youtube' in image.url %}
                            {% elseif 'pdf' in image.url %}
                                <a href="{{ asset(image.webPath) }}"> {{ image.alt }}</a>
                            {% else %}
                                <div class="photo">
                                    <a data-fancybox="images" href="{{ asset(image.webPath) }}" data-caption="{{image.alt }}">
                                        <img tabindex="{{article.id}}" class="photoarticle" src="{{ asset(image.webPath) }}" alt="{{image.alt }}"/>
                                    </a>
                                 </div>
                            {% endif %}
                        {%endfor%}
                  
                    </div>
                </div>
                {% for image in article.images %}
                    {% if 'youtube' in image.url %}
                        <iframe src="{{image.url}}" frameborder="0" allowfullscreen style=""></iframe>
                    {% else %}
                    {% endif %}
                {%endfor%}
            </div>
        {% else %}
            <li>BDD vide</li>
        {% endfor %}
    </div>
    </body>
    
{% endblock %}

