{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
       <div class="blocTitre">
        <div class="titrepage">Créer un article</div>
           <div class="sous-titrepage"><a href="{{ path('article_index') }}">Page précédente</a>

           </div>
<br>
           <br>
    {{ include('article/_form.html.twig') }}

{% endblock %}