{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}" type="text/css"/>

    <div class="blocTitre">
        <div class="titrepage">Article</div>
        <div class="sous-titrepage"><a href="{{ path('article_index') }}">Page précédente</a>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <a href="{{ path('article_edit', {'id': article.id}) }}">Editer l'article</a>
            <table class="table">
                <tbody>
                <tr>
                    <th>Titre</th>
                    <td>{{ article.titre }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ article.content }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
                </tr>

                <tr>
                    <th>images</th>
                    <td>{% for image in article.images %}
                            <a data-fancybox="images" href="{{ asset(image.webPath) }}" data-caption="{{image.alt }}">
                                <img tabindex="{{article.id}}" src="{{ asset(image.webPath) }}" alt="{{image.alt }}"/>
                            </a>
                        {%endfor%}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ include('article/_delete_form.html.twig') }}
{% endblock %}