{% extends 'base.html.twig' %}
{% block body %}

    <div class="blocTitre">
        <div class="titrepage">Bienvenue {{ app.user.username}}</div>
        <div class="sous-titrepage">Espace Utilisateur</div>

    </div>


    <div class="programs">
        <div class="container">
            <div class="row stylish-panel text-center" style="margin: 60px auto">
                <div class="col-md-4">
                    <a href="{{ path('files_index') }}">
                        <i class="fa fa-5x fa-newspaper-o"></i>
                        <h4>Mes Documents</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
