{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <div class="blocTitre">
        <div class="titrepage">Mon profil</div>
        <div class="sous-titrepage"><a href="{{ path('user_index') }}">Retour à l'espace utilisateur</a></div>

    </div>

    <table class="table" style="margin-left: 45%;
    margin-top: 6%;
    margin-bottom: 18%; border: 1px solid black">
        <thead>
        <tr><th style="padding-right: 56%;">Prénom </th> <td>{{ user.firstname }}</td></tr>
        <tr> <th style="padding-right: 56%;">Nom </th><td>{{ user.lastname }}</td>
        </tr>
        <tr> <th style="padding-right: 56%;">Username </th><td>{{ user.username }}</td>
        </tr>
        </thead>
    </table>

{% endblock %}